@model List<ForumSystem.Web.ViewModels.Home.CategoryViewModel>

@{
    ViewBag.Title = "Index";
}
<style>
  .accordion-head {
    font-size: 1.2em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-decoration: none !important;
    background-color: #F9F9F9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 10px;
}
  /*.accordion-inner {
      font-size: 15px;
  }*/
  .accordion {
      text-align: center;
  }
  h3 {
      text-align: center;
  }
</style>
<h3> Our Categories</h3><hr />

@for (var i = 0; i < Model.Count; i++)
{
    string divId = "divId" + i;
    string collapseId = "collapseId" + i;
    <div class="accordion" id="@divId">
        <div class="accordion-group">

            <div class="accordion-heading row">
               <h3>
                    <a class="accordion-toggle accordion-head" data-toggle="collapse" data-parent="#@divId" href="#@collapseId">
                        @Model[i].CategoryTitle
                    </a>
                </h3>
               <div>Sub forums: @Model[i].TagsCount</div>
            </div>
            <div id="@collapseId" class="accordion-body collapse in">
                @foreach (var oneSection in Model[i].Tags)
                {
                    <div class="accordion-inner">
                        <b style="font-size: 15px">@Html.ActionLink(oneSection.Name, "Index", "Post", new { id = oneSection.Id }, null)</b>

                        @*<div class="description">@Html.DisplayName("Description: ") </div>*@
                        <div>Posts:@oneSection.Posts.Count </div>
                    </div>
                }

            </div>
        </div><hr />
    </div>
}