@model List<ForumSystem.Web.ViewModels.SideBar.TagViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Tags</h2>

@for (var i = 0; i < Model.Count; i++)
{
    string divId = "divId" + i;
    string collapseId = "collapseId" + i;
    <div class="accordion" id="@divId">
        <div class="accordion-group">

            <div class="accordion-heading">
                <a class="accordion-toggle accordion-head" data-toggle="collapse" data-parent="#@divId" href="#@collapseId">
                    @Model[i].Name
                </a>
                <div>Sub forums: @Model[i].PostCount</div>

            </div>
            <div id="@collapseId" class="accordion-body collapse in">
                @foreach (var oneSection in Model[i].Posts)
                {
                    <div class="accordion-inner">
                        <b>@Html.ActionLink(oneSection.Title, "Details", "Home", new { id = oneSection.Id }, null)</b>

                        <div class="description">@Html.DisplayName("Description: ") </div>
                        <div>Threads: </div>
                    </div>
                }

            </div>
        </div><hr />
    </div>
}