@model PagedList.IPagedList<ForumSystem.Web.ViewModels.PostModels.IndexBlogPostViewModel>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Home Page";
}
<style>
    a {
        text-decoration: none;
    }
    span>a {
        color: whitesmoke;
    }
    #scores {
        background-color: #000000; border-radius: 5px; border:1px solid red;
    }
    h4>a {
        color: #000000;
        }
    .ask {
        text-align: center;
    }
</style>

<div class="container col-md-12">
    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            <h4 class="ask"> @Html.ActionLink("Ask question", "Ask", "Questions", new { id = ViewData["TagId"] },null)</h4><hr />
        </div>
    </div>
    @foreach (var item in Model)
    {
        //todo:try with Media-heading Bootstarp
        <div class="row">
            <div id="scores" class="col-md-1 text-center">
                <div class="label label-success" style="background-color: #000000">
                    <p style="font-size: 2em">@item.CountVotes<br />
                    </p>
                    <span>votes</span>
                </div>
            </div>
            
            <div id="scores" class="col-md-1 text-center" >
                <div class=" label label-success" style="background-color: #000000">
                    <p style="font-size: 2em">
                        @item.CountComm<br />
                    </p>
                    <span>answers</span>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <div class="row">                    
                    <h3><a href="@Url.Action("Details","Post",new{id=item.Id})">@item.Title</a></h3>
                </div>
                <div class="row">
                    <p>Asked on..
                        @item.PostedAgo
                    </p>
                </div>
                <div class="row">
                    <span class="label label-info"><a href="#">@item.Tag</a></span>
                    <span class="label label-info">Education</span>
                    <span class="label label-info">MVC</span>
                    
                </div>
            </div>
        </div>   
        <hr/>   
    }
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
@*<nav>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>*@